.button {
  &.button-search {
    min-height: $button-height;
  }

  &.button-bold {
    font-weight: 500 !important;
  }

  &.button-favorite {
    @extend .assertive;

    &:hover,
    &.active,
    &.activated {
      color: $assertive;
    }
  }

  &.button-block-no-margin {
    @extend .button-block;
    @extend .no-margin;
  }
}

.button-bar {
  &.button-bar-light {
    background-color: $background-light;
  }
}