.item-radio {
  .radio-icon {
    line-height: 24px;
  }

  input:checked ~ .item-content,
  input:checked ~ .radio-icon {
    color: $positive;
    background: initial;
  }
}

.item-input-inset {
  // Override look in nav-bar
  &.nav-bar-title {
    padding: 0;
    padding-top: 5px;
  }
}

.item-stacked-label-content {
  padding: 0;

  .item-content {
    @extend .item-input;
    @extend .item-stacked-label;
    width: 100%;

    .input-label {
      padding: 4px 0 0 0;
    }

    p {
      padding: 10px 0;
    }
  }
}

.item-select-large {
  height: 50px;

  select {
    width: 100%;
    max-width: 100%;
    direction: ltr;
  }
}

.item-error {
  border-left: 4px solid $assertive;
  padding-left: 13px;
}

.item-error-content .item-content {
  @extend .item-error;
}

.item-valid {
  border-left: 4px solid $balanced;
  padding-left: 13px;
}

.item-valid-content .item-content {
  @extend .item-valid;
}