<ion-view>
  <ion-nav-title></ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-favorite" ng-class="{ 'ion-ios-heart': isFavorite, 'ion-ios-heart-outline': !isFavorite }" on-release="favoritePitch()"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="card-image" ng-background="pitch.image" on-tap="showModalPhoto()">
      <div class="card-overlay vertical-center-container">
        <h3 class="vertical-center text-featurette text-center blocky blocky-light blocky-center">{{ pitch.title }}</h3>
      </div>
    </div>

    <div class="padding">
      <div class="button-bar">
        <button class="button button-balanced">{{ pitch.price | currency }}</button>
        <button class="button button-outline button-balanced" on-tap="showModalPitch()">Pitch In</button>
      </div>

      <div class="margin-top">
        <button class="button button-block-no-margin button-positive icon-left ion-ios-people">{{ pitch.pitchers.contributed.length }} / {{ pitch.pitchers.required }} contributed</button>
        <button class="button button-outline button-block-no-margin button-positive icon-left ion-ios-calendar-outline" on-tap="addCalendarEvent()">{{ pitch.date | date }}</button>
      </div>

      <div>
        <div class="blocky margin-top">
          <div class="background-thumbnail" ng-background="pitch.creator.image"></div>
          <div>
            <p class="text-small text-featurette no-margin color-gray">Organizer</p>
            <p class="text-featurette no-margin">{{ pitch.creator.name.first + ' ' + pitch.creator.name.last }}</p>
            <p><stars class="energized" repeat="rating"></stars></p>
          </div>
        </div>
        <div class="button-bar">
          <button class="button button-outline button-dark">View Profile</button>
          <button class="button button-outline button-dark">Contact {{ pitch.creator.name.first }}</button>
        </div>
      </div>

      <div class="blocky margin-top">
        <p class="text-featurette text-center"><i class="icon ion-ios-medical"></i> What You're Getting</p>
        <p>{{ pitch.description }}</p>
      </div>

      <div class="blocky blocky-assertive no-padding margin-top">
        <p class="text-featurette text-center margin-top "><i class="icon ion-ios-location assertive"></i> Where To Meet</p>
        <ui-gmap-google-map center="map.center" pan="true" zoom="map.zoom" control="map.control" options="map.options">
          <ui-gmap-markers models="map.markers" coords="'self'" icon="'icon'"></ui-gmap-markers>
        </ui-gmap-google-map>
      </div>
    </div>

  </ion-content>
</ion-view>