<ion-view title="Create Pitch">
  <ion-content>

    <form name="formCreatePitch" ng-controller="PitchCtrl" ng-submit="createPitch(pitch)" ng-init="pitch = {}" no-validate>
      <div class="list no-margin">
        <label class="item item-input item-stacked-label" ng-class="{ 'item-error': formCreatePitch.title.$dirty && formCreatePitch.title.$invalid, 'item-valid': formCreatePitch.title.$valid }">
          <span class="input-label">Title</span>
          <input name="title" ng-model="pitch.title" type="text" placeholder="Fast Food Friday" ng-minlength="1" ng-maxlength="65" required>
        </label>
        <ion-item class="item-stacked-label-content" href="" on-tap="showModalDescription()" ng-class="{ 'item-error-content': formCreatePitch.description.$dirty && formCreatePitch.description.$invalid, 'item-valid-content': formCreatePitch.description.$valid }">
          <span class="input-label">Description</span>
          <input class="hide" name="description" ng-model="pitch.description" ng-minlength="1" required>
          <p ng-class="{ disabled: !pitch.description }">{{ pitch.description || "Each pitcher gets two slices of pizza." }}</p>
        </ion-item>
        <label class="item item-input item-stacked-label" ng-class="{ 'item-error': formCreatePitch.requiredPitchers.$dirty && formCreatePitch.requiredPitchers.$invalid, 'item-valid': formCreatePitch.requiredPitchers.$valid }">
          <span class="input-label">Required Pitchers</span>
          <input name="requiredPitchers" ng-model="pitch.pitchers.required" type="number" placeholder="5" min="1" required>
        </label>
        <label class="item item-input item-stacked-label" ng-class="{ 'item-error': formCreatePitch.price.$dirty && formCreatePitch.price.$invalid, 'item-valid': formCreatePitch.price.$valid }">
          <span class="input-label">Price per Pitcher</span>
          <input name="price" ng-model="pitch.price" type="number" placeholder="$10" min="1" ng-pattern="'[0-9]+'" required>
        </label>
        <label class="item item-input item-select" ng-class="{ 'item-error': formCreatePitch.category.$dirty && formCreatePitch.category.$invalid, 'item-valid': formCreatePitch.category.$valid }">
          <span class="input-label">Category</span>
          <select name="category" ng-model="pitch.category" ng-options="c.id as c.title for c in categories" required>
            <option value="">Choose</option>
          </select>
        </label>
        <ion-item class="item-stacked-label-content" href="" on-tap="showModalLocation()" ng-class="{ 'item-error-content': formCreatePitch.location.$dirty && formCreatePitch.location.$invalid, 'item-valid-content': formCreatePitch.location.$valid }">
          <span class="input-label">Location</span>
          <input class="hide" name="location" ng-model="pitch.location.title" ng-minlength="1" required>
          <p ng-class="{ disabled: !pitch.location.title }">{{ pitch.location.title || "Engineering 42" }}</p>
        </ion-item>
        <label class="item item-input item-stacked-label" ng-class="{ 'item-error': formCreatePitch.pitchDate.$dirty && formCreatePitch.pitchDate.$invalid, 'item-valid': formCreatePitch.pitchDate.$valid }">
          <span class="input-label">Date</span>
          <input name="pitchDate" ng-model="pitch.date" type="date" required>
        </label>
      </div>

      <button type="submit" class="button button-block button-clear button-positive" ng-disabled="formCreatePitch.$invalid">Create</button>
    </form>

  </ion-content>
</ion-view>

<!-- Description modal -->
<script id="description.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <div class="buttons">
        <button class="button button-clear button-positive icon-left ion-ios-arrow-back" on-tap="hideModalDescription()"> Back</button>
      </div>
      <h1 class="title">Description</h1>
    </ion-header-bar>
    <ion-content>

      <label class="item item-input item-stacked-label scroll">
        <textarea ng-model="$parent.pitch.description" ng-change="$parent.formCreatePitch.description.$dirty = true" class="scroll" placeholder="Each pitcher gets two slices of pizza."></textarea>
      </label>

    </ion-content>
  </ion-modal-view>
</script>

<!-- Location modal -->
<script id="location.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <div class="buttons">
        <button class="button button-clear button-positive icon-left ion-ios-arrow-back" on-tap="hideModalLocation()"> Back</button>
      </div>
      <h1 class="title">Location</h1>
    </ion-header-bar>
    <ion-content>

      <label class="item item-input item-stacked-label">
        <span class="input-label">Name</span>
        <input ng-model="$parent.pitch.location.title" ng-change="$parent.formCreatePitch.location.$dirty = true" type="text" placeholder="Engineering 42" ng-minlength="1" required>
      </label>

      <!-- Insert map here -->

    </ion-content>
  </ion-modal-view>
</script>