<ion-view>
  <ion-nav-title></ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon button-favorite" ng-class="{ 'ion-ios-heart': isFavorite, 'ion-ios-heart-outline': !isFavorite }" on-release="favoritePitch()"></button>
  </ion-nav-buttons>
  <ion-content>

    <div class="card-image" background-image="pitch.image" on-tap="showModalPhoto()">
      <div class="card-overlay vertical-center-container">
        <h3 class="vertical-center text-featurette text-center blocky blocky-light blocky-center">{{ pitch.title }}</h3>
      </div>
    </div>

    <div class="padding">
      <div class="button-bar" ng-hide="hasPitchedIn">
        <button class="button button-balanced">{{ pitch.price | currency }}</button>
        <button class="button button-outline button-balanced" on-tap="showModalPitch()">Pitch In</button>
      </div>

      <div ng-show="hasPitchedIn">
        <button class="button button-block button-balanced icon-right ion-ios-checkmark no-margin" ng-show="hasPitchedIn === 1">Pitched In</button>
        <div class="blocky blocky-balanced balanced-bg light" ng-show="hasPitchedIn === 2">
          Since you've created this pitch, other people will be able to contribute at {{ pitch.price | currency }} per pitcher.
        </div>
      </div>

      <div class="margin-top">
        <button class="button button-block-no-margin button-positive icon-left ion-ios-people">{{ pitch.pitchers.contributed.length }} / {{ pitch.pitchers.required }} contributed</button>
        <button class="button button-outline button-block-no-margin button-positive icon-left ion-ios-calendar-outline" on-tap="addCalendarEvent()">{{ pitch.date | date }}</button>
      </div>

      <div>
        <div class="blocky margin-top">
          <div class="background-thumbnail" background-image="pitch.creator.image"></div>
          <div>
            <p class="text-small text-featurette no-margin color-gray">Organizer</p>
            <p class="text-featurette no-margin">{{ pitch.creator.name.first + ' ' + pitch.creator.name.last }}</p>
            <p><stars class="energized" repeat="rating"></stars></p>
          </div>
        </div>
        <div class="button-bar">
          <button class="button button-outline button-dark">View Profile</button>
          <button class="button button-outline button-dark">Contact {{ pitch.creator.name.first }}</button>
        </div>
      </div>

      <div class="blocky margin-top">
        <p class="text-featurette text-center"><i class="icon ion-ios-medical"></i> What You're Getting</p>
        <p>{{ pitch.description }}</p>
      </div>

      <div class="blocky blocky-assertive no-padding margin-top">
        <p class="text-featurette text-center margin-top "><i class="icon ion-ios-location assertive"></i> Where To Meet</p>
        <leaflet id="mapPitchLocation" defaults="map.defaults" center="map.center" markers="map.markers" width="100%" height="175px"></leaflet>
      </div>
    </div>

  </ion-content>
</ion-view>