<ion-view title="{{ user.name.full }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive">Edit</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive button-bold" on-tap="logout()">Logout</button>
  </ion-nav-buttons>
  <ion-content>

    <div class="text-center padding">
      <img ng-src="{{ user.image }}">
      <p class="text-featurette">Member since {{ user.created_at | date }}</p>
      <p class="text-featurette">{{ user.community.title }}</p>
    </div>

    <ion-list>
      <ion-item class="item-divider item-positive">
        <span class="text-featurette">Upcoming Events</span>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">
        <span class="text-featurette">Created Pitches</span>
        <span class="item-note">{{ data.pitches.created.length || 'NONE' }}</span>
      </ion-item>
      <ion-item ng-repeat="pitch in data.pitches.created">
        <span>{{ pitch.title }}</span>
        <span class="item-note">
          {{ pitch.pitchers.contributed.length }} / {{ pitch.pitchers.required }}
        </span>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">
        <span class="text-featurette">Funded Pitches</span>
        <span class="item-note">{{ data.pitches.funded.length || 'NONE' }}</span>
      </ion-item>
      <ion-item ng-repeat="pitch in data.pitches.funded">
        <span>{{ pitch.title }}</span>
        <span class="item-note">
          {{ pitch.pitchers.contributed.length }} / {{ pitch.pitchers.required }}
        </span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>