<ion-view title="{{ user.name.full }}">
  <ion-nav-buttons side="left">
    <button class="button button-clear button-positive">Edit</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive button-bold" on-tap="logout()">Logout</button>
  </ion-nav-buttons>
  <ion-content>

    <div class="padding">
      <p class="text-featurette">Member since {{ user.created_at | date }}</p>
      <button class="button button-block button-assertive" on-tap="clearCache()">Clear Cache</button>
    </div>

    <div class="stable-bg">
      <h3 class="text-center text-featurette no-margin padding">Pitches</h3>
      <div class="row row-simple text-center text-featurette">
        <div class="col">
          <h1 class="no-margin">{{ user.pitches.created }}</h1>
          <p>Created</p>
        </div>
        <div class="col">
          <h1 class="no-margin">{{ user.pitches.contributed }}</h1>
          <p>Contributed</p>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>