<ion-view title="Profile">
  <ion-nav-title>
    {{ user.name.full }}
  </ion-nav-title>
  <ion-nav-buttons side="primary">
    <button class="button button-clear button-positive" on-tap="showModalEdit()">Edit</button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive button-bold" on-tap="logout()">Logout</button>
  </ion-nav-buttons>
  <ion-content>

    <div class="text-center padding">
      <div class="background-thumbnail background-profile background-rounded" background-image="user.image"></div>
      <p>{{ memberSince }}</p>
    </div>

    <ion-list class="text-center">
      <ion-item class="item-icon-left">
        <i class="icon ion-university"></i>
        {{ user.community.title }}
      </ion-item>
      <ion-item class="item-icon-left margin-bottom">
        <i class="icon ion-email"></i>
        {{ user.email }}
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider item-positive">
        <span class="text-featurette">Upcoming Events</span>
        <span class="item-note light">{{ upcoming.length || 'NONE' }}</span>
      </ion-item>
      <ion-item class="item-avatar" ng-repeat="p in upcoming" on-tap="viewPitch(p.id)">
        <div class="background-thumbnail background-rounded background-avatar stable-bg" background-image="p.image"></div>
        <h2>{{ p.title }}</h2>
        <p>{{ p.date | date }}</p>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">
        <span class="text-featurette">Created Pitches</span>
        <span class="item-note">{{ data.pitches.created.length || 'NONE' }}</span>
      </ion-item>
      <ion-item ng-repeat="p in data.pitches.created" on-tap="viewPitch(p.id)">
        <span>{{ p.title }}</span>
        <span class="item-note">
          {{ p.pitchers.contributed.length }} / {{ p.pitchers.required }}
        </span>
      </ion-item>
    </ion-list>

    <ion-list>
      <ion-item class="item-divider">
        <span class="text-featurette">Funded Pitches</span>
        <span class="item-note">{{ data.pitches.funded.length || 'NONE' }}</span>
      </ion-item>
      <ion-item ng-repeat="p in data.pitches.funded" on-tap="viewPitch(p.id)">
        <span>{{ p.title }}</span>
        <span class="item-note">
          {{ p.pitchers.contributed.length }} / {{ p.pitchers.required }}
        </span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>