<ion-view title="Search" ng-controller="SearchCtrl">
  <ion-nav-title class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <form class="bar-search">
        <input type="search" placeholder="Search" ng-model="$parent.query" on-enter="search(query)">
        <button class="button button-clear icon ion-close-circled hide" ng-class="{ show: query }" on-tap="cancelSearch($event)"></button>
      </form>
    </label>
  </ion-nav-title>
  <ion-content scroll="false">

    <!-- Search results -->
    <div class="scroll" ng-hide="!results.length">
      <ion-scroll class="scroll">
        <div class="card card-featured" on-tap="viewPitch(r.id)" ng-repeat="r in results">
          <div class="card-image" background-image="r.image"></div>
          <div class="card-item">
            <h3>{{ r.title }}</h3>
            <div class="row">
              <div class="col">
                Price: {{ r.price | currency }}
              </div>
              <div class="col text-right">
                Pitchers: {{ r.pitchers.contributed.length }}/{{ r.pitchers.required }}
              </div>
            </div>
          </div>
        </div>
      </ion-scroll>
    </div>

    <div class="vertical-center-container" ng-show="hasResults && !results.length">
      <div class="vertical-center text-center">
        <p>No results.</p>
      </div>
    </div>

    <!-- Trending searches -->
    <div class="vertical-center-container" ng-show="!query">
      <div class="vertical-center">
        <h4 class="text-center">Trending Searches</h4>
        <button class="button button-clear button-positive button-search" ng-repeat="t in trending" on-release="search(t)">{{ t }}</button>
      </div>
    </div>

  </ion-content>
</ion-view>
