.bar {
  &.bar-black {
    color: white;
    background-color: black;
    border-color: black;

    .button {
      color: white;
    }
  }
}

.bar-footer.bar-footer-transparent {
  border-top-width: 0;
  background-image: none;
}

.bar-header.bar-header-transparent {
  border-bottom-width: 0;
  background-image: none;
}

.bar-search {
  width: 100%;

  input {
    width: 90%;
  }

  .button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 29px;
    font-size: 12px;

    &.icon:before {
      color: $input-color-placeholder;
      font-size: 17px !important;
    }
  }
}
