.background-image {
  background-size: cover;
  background-position: center;
}

.background-thumbnail {
  @extend .background-image;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: $content-padding;
}

.background-rounded {
  border-radius: 50px;
}