.tab-pitch {
  position: relative;
  top: -1px;
  height: $tabs-height + 1px;
  opacity: 1;

  i {
    height: 100% !important;
    font-size: $tabs-height !important;
    color: $light;
    background-color: $positive;
  }
}
