<ion-view hide-nav-bar="true" cache-view="false">
  <ion-content scrollbar-y="false">
    
    <div class="vertical-center-container">
      <div class="vertical-center">
        <form name="formJoinCommunity" ng-submit="join(user)" no-validate>
          <h3 class="text-center text-featurette padding-bottom">Your Community</h3>

          <label class="item item-input item-select item-select-large">
            <select ng-model="user.community" ng-options="c.id as c.title for c in communities">
              <option value="">Choose</option>
            </select>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <input type="email" ng-model="user.email" placeholder="me@community.com">
          </label>
          <button type="submit" class="button button-block button-clear button-positive">Join</button>
        </form>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-footer-transparent">
    <button class="button button-clear" on-tap="goToLogin()">Go Back</button>
  </ion-footer-bar>
</ion-view>