<ion-view hide-nav-bar="true" cache-view="false">
  <ion-content scroll="false">

    <div class="vertical-center-container">
      <div class="vertical-center padding">
        <h3 class="text-center text-featurette">Pitch In</h3>

        <button class="button button-block button-positive icon-left ion-social-facebook" on-tap="login()">Sign in with Facebook</button>
      </div>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-footer-transparent">
    <button class="button button-clear" on-tap="goToIntro()">See Intro</button>
  </ion-footer-bar>
</ion-view>